#btnSendCode:hover, #btnConfirm:hover, #btnValidate:hover{
    background-color: #7bb6ad;
}

.btn {
    border-radius: 2px;
    // text-transform: capitalize;
    font-size: 15px;
    background-color: #207B6E;
    padding: 7px 20px;
    cursor: pointer
}