<app-navbar></app-navbar>
<!-- Header Start -->
<style>
    .center-text {
      text-align: left;
    }
  
  </style>
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
              
                <div class="position-relative h-100">
                    <br>
                    <img class="img-fluid position-absolute w-100 h-100" src="../../../assets/images/out.jpeg" alt="" style="width: 400px; height: 200px">
               <br>             

                </div>
            </div>
           
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <br>
                    <h6 class="section-title bg-white text-center text-primary px-3">Welcome to OPM</h6>
                    <h1 class="mb-5"></h1>
                </div>
                <p class="mb-4"></p>
                <p class="mb-4">OPM an Outsourcing Process Management platform that facilitate the management of service request processes,<br> ticket tracking, and user account management. 
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Accounting</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Service</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Strategizing</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Planning</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Sales</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Consulting </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<!-- <app-team></app-team> -->
<!-- Team End -->

