/* #btnsingnup:hover{
    background-color: #98D5FF;
} */
#btnsingnup:hover{
    background-color: #7bb6ad;
}
.btn{background-color:  #207B6E;}
img {
    margin-right: 100%;
}

.navbar-brand {background-color:  #207B6E;}
