
<!-- Section: Design Block -->
<section class="text-center" style="background: #B39188;">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 125px;
        background: #B39188;">
      </div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: #E8D5CC; 
        backdrop-filter: blur(30px);">
      <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <br><br>
            <h2 class="text-primary fw-bold mb-5">UPDATE</h2>
            <form name="form" (OnSubmit)="updatepage(fadd)" #fadd="ngForm" novalidate>

                <div *ngIf="this.authority === 'client'|| this.authority ==='admin'">
                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline mb-4">
                        <input type="password" class="form-control"  placeholder="New Password" name="password" ngModel #pass="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
                          <div *ngIf="pass.invalid   && pass.touched" class="alert alert-danger">
                            <div *ngIf="pass.errors.required"> Password is required. </div>
                            <div *ngIf="pass.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter,
                                and at least 8 or more characters.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline mb-4">

                          <input type="password" class="form-control" placeholder="Confirm Password" name="pass2" ngModel #pass2="ngModel" required />
                          <div *ngIf="
                              (pass2.invalid && pass2.touched) ||
                              (pass.value != pass2.value && pass2.valid)
                            " class="alert alert-danger p-2" role="alert">
                            ne pas correspondre
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline mb-4">

                            <input type="text"    class="form-control" [(ngModel)]="this.objectUpdate.company" name="company" placeholder="Company Name"  ngModel #company="ngModel" required />
                            <div *ngIf="company.invalid && company.touched" class="alert alert-danger p-2" role="alert">
                              Enter Company Name
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline mb-4">

                            <input type="text"   class="form-control"  [(ngModel)]="this.objectUpdate.terms" placeholder="Terms"  name="terms"  ngModel #terms="ngModel"
                             required />
                            <div *ngIf="
                                (terms.invalid && terms.touched)
                              " class="alert alert-danger p-2" role="alert">
                              ne pas correspondre
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--  -->
          
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline mb-4">

                            <input type="text" class="form-control" [(ngModel)]="this.objectUpdate.sla" placeholder="SLA" name="sla"  ngModel #sla="ngModel"
                             required />
                            <div *ngIf="sla.invalid && sla.touched" class="alert alert-danger p-2" role="alert">
                              Enter sla
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline mb-4">
                            <input class="form-control textbox-n" type="date" 
                           [(ngModel)]="this.objectUpdate.endDate " name="endDate"
                            ngModel #endDate="ngModel" required />
                              <div *ngIf="endDate.invalid && endDate.touched" class="alert alert-danger p-2" role="alert">
                                Enter End Date
                              </div>
                          </div>
                        </div>
                      </div>
                      
                      <div>
                      <div class="input-group">
          
                        <select class="form-select" value="-1"  [(ngModel)]="this.objectUpdate.type" placeholder="Contract  Type " name="type" ngModel #type="ngModel" required>
                          <option disabled value="">{{"Contract  Type "}}</option>
                          <option value="INFO-GERANCE">INFO-GERANCE</option>
                          <option value="SUPPORT AND MAINTENANCE">SUPPORT & MAINTENANCE</option>
                        </select>
                      </div>
                      <div *ngIf="type.invalid && type.touched" class="alert alert-danger p-2" role="alert">
                        <span>Select Type</span>
                      </div>
                        <!--  -->
                        
          </div>
                        <!-- contract contract -->
          
          
          
                      <!-- -->
          
          
                      <button type="submit" [disabled]="fadd.invalid && type.invalid" class="btn btn-primary btn-block mb-4" id="btnconfirm">
                        <span style="color:white;font-weight:bold">Confirm</span>
                      </button>

                </div>
          <div *ngIf="this.authority ==='commercial' || this.authority ==='technician'">
                    <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                       <input type="text" class="form-control" [(ngModel)]="this.objectUpdate.firstName" placeholder="First Name " name="firstName"  ngModel #firstName="ngModel" required />
                  <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger p-2" role="alert">
                    Enter First Name
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline mb-4">
                                   <!-- <input type="text" class="form-control" [(ngModel)]="this.payload.title" [placeholder]="'Title'" name="title" ngModel #title="ngModel" required /> -->
                  <input type="text"   class="form-control"  placeholder="Last Name"  name="lastName" ngModel #lastName="ngModel"
                   required />
                  <div *ngIf="(lastName.invalid && lastName.touched) " class="alert alert-danger p-2" role="alert">
                    ne pas correspondre
                  </div>
                </div>
              </div>
            </div> 
                    <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline mb-4">

                            <input type="password" class="form-control" [(ngModel)]="this.objectUpdate.pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="New Password" name="password" ngModel #pass="ngModel" 
                               required />
                              <div *ngIf="pass.invalid   && pass.touched" class="alert alert-danger">
                                <div *ngIf="pass.errors.required"> Password is required. </div>
                                <div *ngIf="pass.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter,
                                    and at least 8 or more characters.</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline mb-4">
                            <input type="password"  class="form-control"  [(ngModel)]="this.payload.pass2" placeholder="Confirm Password" name="pass2" ngModel #pass2="ngModel"
                           required />
                            <div *ngIf="
                                (pass2.invalid && pass2.touched) ||
                                (pass.value != pass2.value && pass2.valid)
                              " class="alert alert-danger p-2" role="alert">
                              ne pas correspondre
                            </div>
                          </div>
                        </div>
                      </div>
                      
            <!-- <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline mb-4"> 
                    <input type="date" class="form-control textbox-n"[(ngModel)]="this.objectUpdate.birthDate" name="birthDate"  ngModel #birthDate="ngModel" required/>
                      <div *ngIf="birthDate.invalid && birthDate.touched" class="alert alert-danger p-2" role="alert">
                        Enter birthDate 
                      </div>
                  </div>
                </div>
            </div> -->
  
  
  <!-- <label for="image">Nouvelle Image de Profil</label> -->
  <!-- <input type="file" id="image" name="image" accept="image/*" (change)="onImageSelected($event)" /> -->
   <!-- Aperçu de l'image sélectionnée -->
   <!-- <div *ngIf="selectedImage">
    <img [src]="selectedImageURL" alt="Aperçu de la nouvelle image" />
  </div> -->
  
     <div class="row">
    <div class="col-md-12 mb-4">
      <div class="form-outline mb-4">
        <input class="form-control textbox-n" type="date"
        [placeholder]="'tetetetetet'" onkeydown="return false" name="birthDate"
        ngModel #birthDate="ngModel" required
        (click)="setinputtype($event,'birthDate')" max="{{ this.actualDate | date: 'yyyy-MM-dd' }}" />
          <div *ngIf="birthDate.invalid && birthDate.touched" class="alert alert-danger p-2" role="alert">
            Enter End Date
          </div>
      </div>
    </div>
  </div>
              <button type="submit" [disabled]="fadd.invalid" class="btn btn-primary btn-block mb-4" id="btnconfirm">
                <span style="color:white;font-weight:bold">Confirm</span>
              </button>
          </div>
  
            </form>
        
          </div>
        </div>
      </div>
    </div>
  </section>